* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e272e;
}

img {
    width: 100%;
    display: block;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 792px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.card {
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
    position: relative;
    cursor: pointer;
    background-color: white;
}

.card img {
    padding: 1rem;
    opacity: 0;
}

.selected {
    outline: 3px solid #0fbcf9;
    outline-offset: -3px;
    border-radius: 0.5rem;
}

.selected img {
    opacity: 1;
}

.matched {
    outline: 3px solid #ff3f34;
}

.container{
    text-align: center;
}

.container .btn-outline-danger{
    border: 0.5px solid #DC3545;
    border-radius: 1rem;
    background-color: transparent;
    color: #DC3545;
    padding: 0.8rem 1rem;
    cursor: pointer;
    transition: all .4s;
}

.container .btn-outline-danger:hover{
    background-color: #DC3545;
    color: white;
}

@media(max-width: 1000px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width: 500px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}